@use "../helpers" as *;

.advice-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: #{fluid(24, 16)};

    &__body {
        display: flex;
        flex-direction: column;
        gap: #{rem(8)}; 
    }
}
