@use "../helpers" as *;

.button {
    @include flex-center;

    height: var(--button-height);
    background-color: var(--color-accent);
    color: var(--color-light);
    font-weight: 500;
    border: 1px solid var(--color-accent);
    border-radius: #{rem(4)};

    &:hover {
        color: var(--color-accent);
        background-color: var(--color-accent-10);
    }

    &--alt {
        color: var(--color-accent);
        background-color: var(--color-accent-10);
        border: none;

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-light);
        }
    }

    &.show-more {
        max-width: #{rem(350)};
        width: 100%;
    }
}
