@use "../helpers" as *;

.hero {
    &__container {
        @include flex-center;

        flex-direction: column;
        gap: fluid(48, 32);
        padding-inline: fluid(95, 0);
    }

    &__header {
        @include flex-center;

        flex-direction: column;
        text-align: center;
        gap: fluid(24, 16);
        padding-inline: fluid(80, 32);

        &-save {
            @include fluid-text(16, 13);

            position: relative;
            background-color: #f2f9eb;
            padding: #{fluid(4, 2)} #{fluid(22, 16)};
            border-radius: 0 #{rem(16)} #{rem(16)} 0;

            &::before {
                @include fluid-text(16, 13);

                content: "Save 90%";
                position: absolute;
                top: 0;
                left: -47%;
                display: flex;
                color: var(--color-light);
                background-color: #81c43b;
                padding: #{rem(4)} #{rem(16)};
                border-radius: #{rem(22)};
            }
        }

        &-title {
            max-width: #{rem(760)};
            width: 100%;
        }

        &-subtitle {
            max-width: #{rem(505)};
            width: 100%;
        }

        &-reg {
            @include flex-center;
        }

        &-input {
            height: var(--button-height);
            border-radius: #{rem(4)} 0 0 #{rem(4)};
            padding-inline: #{rem(24)};
            border: var(--border);
        }

        &-button {
            border-radius: 0 #{rem(4)} #{rem(4)} 0;
            padding-inline: #{rem(45)};
        }
    }
}
