@use "../helpers" as *;

.instruction {
    &__container {
        display: flex;
        align-items: center;
        gap: #{fluid(80, 32)};
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}
