@use "../helpers" as *;

.section {
    padding-block: #{fluid(100, 56)};

    &--gray {
        padding-block: #{fluid(60, 32)};
        background-color: var(--color-gray);
        border-top: var(--border);
        border-bottom: var(--border);
    }
}
